<div class="bg-gradient-to-r from-indigo-200 via-red-200 to-yellow-100">
  <%- include('partials/header.ejs'); -%>

  <div class="relative isolate px-6 pt-14 lg:px-8 pb-8">
    <div
      class="logo flex items-center justify-center"
      style="padding-top: 8rem;"
    >
      <a href="/">
        <img
          src="\images\bookish-high-resolution-logo-black-transparent.png"
          alt=""
          height="200px"
          width="200px"
        />
      </a>
    </div>
    <div class="mx-auto max-w-2xl py-32 " style="padding-bottom: 0;">
      <div class="sm:mb-8 sm:flex sm:justify-center">
        <div
          class="relative rounded-full my-4 md:mb-0 px-3 py-1 text-sm leading-6 text-neutral-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20"
        >
          "If you don’t like to read, you haven’t found the right book." – J.K.
          Rowling
        </div>
      </div>
      <div class="text-center">
        <h1
          class="text-4xl font-bold tracking-tight text-neutral-900 sm:text-6xl sm:pt-3"
        >
          Notes and summary of all the books posted by our users.
        </h1>
        <p class="mt-6 text-lg leading-8 text-neutral-600">
          Click on the book to read the notes and summary of your favourites.
          This page will constantly update as users add more notes and make them
          public. You can sort book notes by book-title(alphabetical-asc),
          latest, or best rated.
        </p>

        <p class="text-neutral-900 text-xl font-semibold pt-4">
          Want to add a book note of your own?
          <a class="hover:underline text-sky-600" href="/books">click here</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div id="bookSection" class="section">
  <div class="bg-white">
    <div
      class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8"
    >
      <div
        class="sorting rounded-full flex justify-between px-4 py-2 font-bold text-md md:text-lg leading-6 text-neutral-700 ring-1 ring-gray-900/10"
      >
        <p>Sort by :</p>
        <a href="/?sort=title" class="sort-link hover:text-purple-700"
          >Title
          <span class="text-purple-500 text-sm hidden md:block ">
            (A-Z)
          </span></a
        >
        <a href="/?sort=rating" class="sort-link hover:text-purple-700"
          >Rating
          <span class="text-purple-500 text-sm hidden md:block ">
            (10-1)
          </span></a
        >
        <a href="/?sort=recent" class="sort-link hover:text-purple-700"
          >Recent
          <span class="text-purple-500 text-sm hidden md:block ">
            (Latest)
          </span></a
        >
      </div>

      <div
        class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
      >
        <% books.forEach(book => { %>
        <div class="group relative pb-8 md:pb-0">
          <div
            class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md lg:aspect-none group-hover:opacity-75 h-fit md:h-4/5"
          >
            <a href="/books/<%= book.id %>">
              <img
                src=" https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-L.jpg"
                alt="Book cover"
                class="h-full w-full object-scale-down md:object-cover object-center"
              />
            </a>
          </div>
          <div>
            <h3
              class="md:text-lg text-md py-1 md:pt-4 font-bold text-neutral-700 "
            >
              <a href="/books/<%= book.id %>"> Title: <%= book.title %> </a>
            </h3>
          </div>
          <div class="text-sm text-neutral-500 italic">
            <p>Note by : <%= book.username %></p>
          </div>
          <div class="md:pt-2 md:flex md:justify-between">
            <p class="text-sm text-neutral-500">
              Added on: <%- book.added_on.toISOString().split('T')[0] %>
            </p>
            <p class="text-sm font-medium text-neutral-700">
              Rating: <%= book.rating %>/10
            </p>
          </div>
        </div>

        <% }) %>

        <!-- More products... -->
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs'); -%>
